.auth-illustration {
  position: absolute;
  width: 45%;
  margin: auto;
  bottom: 0;right: 0;
  z-index: -1;
  max-width: 645px;
}

@media (max-width: 600px) {
  .auth-illustration {
    width: 70%;
  }
}

.MuiList-root.MuiMenu-list.MuiList-padding, .MuiSpeedDialAction-fab, .MuiButtonBase-root.MuiFab-root.MuiSpeedDialAction-fab.MuiSpeedDialAction-fabClosed.MuiFab-sizeSmall {
  background: #3B4353 !important;color: #A3F7BF !important;
}

.MuiButtonBase-root.MuiFab-root.MuiSpeedDial-fab.MuiFab-primary, .MuiSpeedDial-root.MuiSpeedDial-directionDown.makeStyles-speedDial-6, .MuiFab-label  {
  height: 30px !important;
  background: transparent !important;
  box-shadow: none !important;
  width: 30px !important;
  padding: 0;
  display: flex !important;
}

#htmlEditor,#cssEditor,#jsEditor {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  margin: auto;
  top: 0;right: 0;left: 0;bottom: 0;
  display: none;
}

#htmlEditor {
  display: block;
}